#root {
  margin: 0 auto;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.items-not-ranked {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.unranked-cell {
  width: 120px;
  text-align: center;
  margin-left: 3px;
}

.unranked-cell img,
.rank-cell img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 0.68;
}

.rankings {
  display: flex;
  width: 800px;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  margin-bottom: 15px;
}

.rank-row {
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  margin-top: 3px;
  margin-bottom: 4px;
}

.row-label,
.rank-cell {
  display: flex;
  width: 120px;
  text-align: center;
  align-items: center;
}

.a-tier {
  background-color: #e01a76;
}

.b-tier {
  background-color: tomato;
}

.c-tier {
  background-color: forestgreen;
}

.d-tier {
  background-color: cornflowerblue;
}
